*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a8a8a8;
    padding-top: 43px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4b4b;
    display: flex;
}
li a {
    margin-left: 200px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
}
li a:hover{
    background-color: #111;
}
h1{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 30px;
    font-weight: bold;
}
header{
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
}
main{
    background-color: white;
    margin: 50px 50px 0 50px;
    padding: 25px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h2{
    text-align: center;
    padding: 5px;
    margin: 35px 0 0 445px;
    font-weight: 600;
    font-size: 30px;
    border-top: 6px solid rgb(255, 204, 0);
    border-radius: 3px;
    width: 250px;
}
div{
    display: inline-block;
}
.doble{
    display: flex;
    justify-items: last baseline;
    margin-bottom: 10px;
    margin-top: 2px;
}
h3{
    padding: 5px;
    margin: 35px 20px;
    font-weight: 600;
    font-size: 25px;
    border-left: 6px solid rgb(255, 204, 0);
    border-radius: 3px;
    width: fit-content;
}
h4{
    height: 250px;
    width: 160px;
    margin: auto;
    text-align: center;
}
img{
    height: 250px;
    width: 160px;
    border-radius: 15px;
    margin: 0 10px;
}
img:hover{
    background: linear-gradient(#000000,transparent);
}
footer{
    display: block;
    background-color: #111;
    height: 75px;
    color: white;
    padding: 25px;
    margin: 0;
}