*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a8a8a8;
    padding-top: 43px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4b4b;
    display: flex;
}
li a {
    margin-left: 200px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover{
    background-color: #111;
}
main{
    background-color: white;
    margin: 75px 50px 0 50px;
    padding: 15px;
}
p{
    margin: 13px;
    padding: 5px;
    font-size: 17px;
}
h4{
    margin: 7px;
    padding: 5px;
    font-weight: bold;
}
h3{
    margin: 25px 15px 15px 15px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    border-left: solid rgb(234, 174, 11) 7px;
    border-radius: 4px;
}
h2{
    margin: 0;
    text-align: center;
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
}
h1{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 35px;
    font-weight: bold;}
header{
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
    }
footer{
    display: block;
    background-color: #111;
    height: 10px;
    color: white;
    padding: 25px;
    margin: 0;
    }
